/*project des page*/
abbr {
    border-bottom: 2px dotted var(--darkBackgroundGray);
    text-decoration: none;
}
#projectDesPage{
    position: absolute;
    top: 145px;
    left:5px;
    width:calc(100% - 15px);
    height:calc(100% - 155px);
    background-color: var(--mainWhite);
    border-radius: 5px;
    border: 3px solid black;
    z-index:6;
    overflow-y: scroll;
}

.desContentFormat > h2{
    text-align: center;
    font-size:40px;
    text-decoration: underline;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top:45px;
    z-index:6;
    background-color:var(--mainWhite);
    line-height:40px;
}

#projectDesPage-title::after{
    content:attr(date);
    position: relative;
    font-size:13px;
    text-align: center;
    display: block;
    top:3px;
    line-height: 13px;
}

#projectDesPage-menu{
    margin:0;
    padding:0;
    list-style: none;
    width:400px;
    height:40px;
    margin-left:calc((100% - 400px) / 2);
    background-color:var(--mainWhite);
    margin-top:3px;
}

#projectDesPage-menu > li{
    float:left;
    width:calc((100% - 40px) / 3 );
    height:40px;
    background-color:transparent;
    text-align: center;
    list-style: none;
    line-height: 40px;
    cursor: pointer;
    border:2px dashed black;
    font-size: 20px;
    margin-left:5px;
}

#projectDesPage-menu > li > ul{
    text-align: center;
    font-size:14px;
}

#projectDesPage-menu > li > ul > li{
    float:center;
    list-style-type: none!important;
    text-indent: 0px ;
    text-align: center!important;
    transform: translateX(-35px);
    margin: 8.5px 0;
    margin-top:0;
}
#projectDesPage-menu li ul li{
    display: block;
}
#projectDesPage-menu > li > ul > li > a{
    line-height: 1;
}
#projectDesPage-content{
    position: relative;
    width:700px;
    margin-top:105px;
    left:calc((100% - 700px) / 2);
    z-index:5;
    background-color: #dbd6d1;
    padding-bottom: 1px;
    padding-top:1px;
}

.desContentFormat h3{
    font-size: 32px;
    margin-block-start: 0;
    margin-block-end: 0;
    border-bottom: 1px solid var(--mainWhite);
    line-height: 25px;
    margin: 15px 5px;
    font-weight: bold;
}

.desContentFormat h4{
    font-size: 21.5px;
    font-weight: bold;
    margin-left:5px;
    margin-block-start: 0;
    margin-block-end: 0;
    color:var(--darkBackgroundGray);
    border-bottom: 1px solid var(--mainWhite);
}

.desContentFormat p{
    margin-left:5px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size:17px;
    word-spacing: 0px;
    margin-bottom:8px;
    margin-top:8px;
    font-weight: 500;
}
#projectDesPage-menu li a{
    text-decoration:none;
    color:black;
    display: block;
}

#projectDesPage-menu > li a:hover{
    border-bottom: 2px solid var(--mainGold);
}
#projectDesPage-menu > li a:active{
    background-color:var(--darkBackgroundGray);
}
#projectDesPage-menu > li:hover{
    border:2px solid var(--mainGold);
}
/*class for appear and disappear*/
.contentDisappear{
    transform: translateX(-110%);
    display: none!important;
}

.projectPageAppear{
    transform: translateY(110%);
    display: none!important;
}

/*from fero not tested yet*/
.desContentFormat .highlight {
    margin: 0px;
}

.desContentFormat pre {
    padding: 10px;
    background-color: var(--mainWhite);
    border-radius: 10px;
    overflow: hidden;
    color: #333;
    margin: 8px 15px!important;
    line-height: 1.6;
}

.desContentFormat pre:hover {
    overflow: auto;
}
.desContentFormat p code, li code{
    font-size: 12px;
    background-color: var(--mainWhite);
    border: 1px solid var(--darkBackgroundGray);
    border-radius: 3px;
    padding: 2px 4px;
    white-space: nowrap;
}

.desContentFormat pre code {
    float: left;
    font-size: 100%!important;
    font-family: monospace!important;
}

.desContentFormat code a{
    text-decoration: none!important;
}

.desContentFormat img, iframe, object, embed, audio, video{
    display: block;
    margin: 15px auto;
    width:70%;
    max-width: 100%;
    box-shadow: 0 10px 12px 5px rgb(0,0,0, 0.5);
}
.mediaWithDes::after{
    content:attr(desc);
    font-size: 15px;
    position: relative;
    left:15%;
    top:-7px;
}
blockquote img, object, embed, audio, video {
    width:100%!important;
}

.parallelImageRight{
    width: 47%!important;
    max-width: 47%!important;
    float:right;
    margin: 15px 3px!important;
}

.parallelImageLeft{
    float:left!important;
}

blockquote iframe{
    width:100%!important;
}

.smallMedia{
    display:inline-block!important;
    width:30px!important;
    margin:0!important;
}
.desContentFormat a:link, a:visited{
    color: var(--darkGoldDesLink);
    text-decoration: underline;
}
.desContentFormat a:hover{
    color:var(--darkGoldDesLinkHover);
    text-decoration: none;
}

.desContentFormat 
p a:link, p a:visited,
ul li a:link, ul li a:visited{
    color: var(--darkGoldDesLink);
    text-decoration: underline;
}

.desContentFormat h4 a:link, h4 a:visited{
    color: var(--darkGoldDesLink);
    text-decoration: none;
}

.desContentFormat ul li p{
    margin-bottom:5px;
}
.desContentFormat p a:hover, ul li a:hover{
    color:var(--darkGoldDesLinkHover);
    text-decoration: none;
}
.desContentFormat h4 a:hover{
    color: var(--darkGoldDesLink);
    text-decoration: underline;
}
.desContentFormat blockquote {
    padding: 11.2px 32px;
    border: 1px solid #ccc;
    border-left: 8px solid var(--mainGold);
    background-color: #f7f7f7;
    font-style: italic;
    color: #555;
}
.desContentFormat h3 span, li span, h4 span, p span{
    color: #666;
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
}

.desContentFormat li span::before, h3 span::before,h4 span::before,p span::before{
    content: "[";
}

.desContentFormat li span::after, h3 span::after,h4 span::after,p span::after{
    content: "]";
}

.desContentFormat ul {
    margin-top: 8px;
    margin-bottom: 30px;
    font-size:18px;
}

.desContentFormat li {
    margin: 6px 0;
    line-height: 1.6;
}

.li-pre{
    margin-bottom:0!important;
}
.desContentFormat .twitter-tweet {
    margin-left: auto;
    margin-right: auto;
}

.sectionBreaker{
    margin-top:40px!important;
}

/*thanks for reading section*/
.thanksForReadingFormat{
    margin-top:40px;
    margin-bottom:60px;
}
.thanksForReadingFormat p{
    margin-bottom: 20px;
}
.thanksForReadingFormat i{
    float: right;
    font-size:25px;
    cursor: pointer;
    display: block;
}

.thanksForReadingFormat i:hover{
    color:var(--mainGold);
}

.thanksForReadingFormat > h4{
    font-size: 20.8px;
    color: var(--darkBackgroundGray);
    border-bottom: 1px solid var(--mainWhite);
    margin-right:5px;
}

.thanksForReadingFormat-img{
    float:right;
}

.thanksForReadingFormat p > a > img{
    display: block;
    max-width: 100%;
    width:190px;
    margin-right:10px;
    margin-bottom: 0;
}

.rcc_link i{
    color:black;
}

/*bracket table style*/
.tableContainer{
    overflow: auto;
}
.bracket {
    border: 1px solid #777;
    margin: 15px auto;
    width: 100%;
    max-width: 450px;
}
.bracket tr td {
    padding: 3px 15px;
    border: 1px solid #777;
    text-align: center;
    background-color: #eee;
    padding: 0 5px;
    position: static;
}

.bracket .winnerL {
    background-image: url(/images/icon/advancedR.png);
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-color: #fff;
    font-weight: bold;
}

.bracket .leftAlliance {
    padding: 0 13px 3px 3px;
}

.bracket .rightAlliance {
    padding: 0 3px 3px 13px;
}

.bracket .winnerR {
    background-image: url(/images/icon/advancedL.png);
    background-position: 5% 50%;
    background-repeat: no-repeat;
    background-color: #fff;
    font-weight: bold;
}

.bracket .winnerC {
    background-image: url(/images/icon/firstplace.png);
    background-position: center 15px;
    background-repeat: no-repeat;
    background-color: #fff;
    font-weight: bold;
    padding-top: 24px;
}

.bracket .secondC {
    background-image: url(/images/icon/secondplace.png);
    background-position: center 15px;
    background-repeat: no-repeat;
    background-color: #eee;
    padding-top: 24px;
}
.ourTeam{
    border-right:2px solid;
    border-bottom:2px solid;
    border-left:2px solid;
}

/*loader*/
.loading {
  display: flex;
  justify-content: center;
}
.loading div {
  width: 16px;
  height: 16px;
  margin: 15px 6px;
  background: var(--mainGold);
  border-radius: 50%;
  -webkit-animation: 0.4s bounce infinite alternate;
          animation: 0.4s bounce infinite alternate;
}
.loading div:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.loading div:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes bounce {
  to {
    opacity: 0.4;
    -webkit-transform: translate3d(0, -1rem, 0);
            transform: translate3d(0, -1rem, 0);
  }
}

@keyframes bounce {
  to {
    opacity: 0.4;
    -webkit-transform: translate3d(0, -1rem, 0);
            transform: translate3d(0, -1rem, 0);
  }
}

@media (max-width:720px) {
    #projectDesPage-content{
        width:calc(100% - 20px);
        left:10px;
    }
}

@media (max-width:439px) {
    #projectDesPage{
        top: calc(31vw + 15px);
        left:5px;
        width:calc(100% - 15px);
        height:calc(100% - 31vw - 12px);
        background-color: var(--mainWhite);
        border-radius: 5px;
    }
    #projectDesPage-menu{
        width:100%;
        margin-left:0;
    }

    #projectDesPage-menu > li > ul{
        text-align: center;
        font-size:13px;
    }

    #projectDesPage-menu > li > ul > li{
        height:20px;
        line-height: 20px;
    }

    #projectDesPage-menu > li > ul > li{
        width:80px;
    }
    .desContentFormat img, iframe, object, embed, audio, video{
        margin: 15px 5px;
        width:calc(100% - 10px);
        max-width: 100%;
    }
    .mediaWithDes::after{
        left:10px;
    }
    .desContentFormat pre {
        overflow: auto;
    }

    .desContentFormat p{
        font-size:14px;
    }

    .desContentFormat ul {
        font-size:14px;
    }
}
@media (max-height:1000px) {
    #projectDesPage{
        top:0px;
        height:calc(100% - 10px);
    }
}